%{~ for index, public_ip in content }
zk-${index}.clustering.myserver.ru ansible_host=${public_ip}
ch${index}.dbpool.myserver.ru ansible_host=${public_ip}
%{~ endfor }

[zookeepers]
%{~ for index, public_ip in content }
zk-${index}.clustering.myserver.ru
%{~ endfor }

[clickhouse]
%{~ for index, public_ip in content }
ch${index}.dbpool.myserver.ru
%{~ endfor }

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
