[clickhouse]
%{~ for index, public_ip in content }
clickhouse${index} ansible_host=${public_ip} zookeeper_id=${index}
%{~ endfor }

[clickhouse:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_rsa
