all:
  children:
    clickhouse_cluster:
      hosts:
%{~ for index, public_ip in content }
        clickhouse${index}:
          ansible_host: ${public_ip}
%{~ endfor }
  vars:
    ansible_user:  ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    clickhouse_version: 22.2.3.5
    clickhouse_users_custom:
      - { name: "testuser",
          password_sha256_hex: "f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2",
          networks: "{{ clickhouse_networks_default }}",
          profile: "default",
          quota: "default",
          dbs: [ testu1 ] ,
          comment: "classic user with plain password"}
      - { name: "testuser2",
          password: "testplpassword",
          networks: "{{ clickhouse_networks_default }}",
          profile: "default",
          quota: "default",
          dbs: [ testu2 ] ,
          comment: "classic user with hex password"}
      - { name: "testuser3",
          password: "testplpassword",
          networks: { 192.168.0.0/24, 10.0.0.0/8 },
          profile: "default",
          quota: "default",
          dbs: [ testu1,testu2,testu3 ] ,
          comment: "classic user with multi dbs and multi-custom network allow password"}
    clickhouse_query_log_ttl: 'event_date + INTERVAL 7  DELETE'
    clickhouse_dicts:
      test1:
        name: test_dict
        odbc_source:
          connection_string: "DSN=testdb"
          source_table: "dict_source"
        lifetime:
          min: 300
          max: 360
        layout: hashed
        structure:
          key: "testIntKey"
          attributes:
            - { name: testAttrName, type: UInt32, null_value: 0 }
      test2:
        name: test_dict
        odbc_source:
          connection_string: "DSN=testdb"
          source_table: "dict_source"
        lifetime:
          min: 300
          max: 360
        layout: complex_key_hashed
        structure:
          key:
            attributes:
              - { name: testAttrComplexName, type: String }
          attributes:
            - { name: testAttrName, type: String, null_value: "" }
    clickhouse_dbs_custom:
      - { name: testu1 }
      - { name: testu2, state:present }
      - { name: testu3, state:absent }
    clickhouse_clusters:
      your_cluster_name:
        shard_1:
    %{~ for index, public_ip in content }
          - { host: "clickhouse${index}", port: 9000 }
    %{~ endfor }     
    clickhouse_zookeeper_nodes:
%{~ for index, public_ip in content }
      - { host: "clickhouse${index}", port: 2181 }
%{~ endfor }
