all:
  children:
    clickhouse_cluster:
      hosts:
%{~ for index, public_ip in content }
        clickhouse${index}:
          ansible_host: ${public_ip}
%{~ endfor }
    zookeepers:
      hosts:
%{~ for index, public_ip in content }
        zookeeper${index}:
          ansible_host: ${public_ip}
%{~ endfor }
  vars:
    ansible_user:  ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    clickhouse_version: 22.1.4.30
    clickhouse_clusters:
      your_cluster_name:
        shard_1:
    %{~ for index, public_ip in content ~}
          - { host: "clickhouse${index}", port: 9000 }
    %{~ endfor ~}     
    clickhouse_zookeeper_nodes:
%{~ for index, public_ip in content }
      - { host: "clickhouse${index}", port: 2181 }
%{~ endfor }
    zookeeper_hosts:
    %{ for index, public_ip in content ~}
- host: zookeeper${index}
      id: ${ index }
    %{ endfor ~}
