all:
  children:
    ${hostname_prometheus}:
      hosts:
        "${hostname_prometheus}":
          ansible_host: "${public_ip_prometheus}"
    ${hostname_javaindocker}:
      hosts:
        "${hostname_javaindocker}":
          ansible_host: "${public_ip_javaindocker}"
  vars:
    #grafana_url: "http://${hostname_prometheus}.${public_ip_prometheus}.${domain}"
    ansible_user:  ${ssh_user}
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    prometheus_targets:
      node:
      - targets:
        - localhost:9100
    prometheus_components: [ "prometheus", "node_exporter" ]
    grafana_version: 7.5.15
    grafana_use_provisioning: true
    grafana_security:
      admin_user: admin
      admin_password: enter_your_secure_password
    grafana_datasources:
      - name: prometheus
        type: prometheus
        access: proxy
        url: 'http://localhost:9090'
        basicAuth: false
    grafana_dashboards:
    - dashboard_id: 1860
      revision_id: 26
      datasource: prometheus