[all]
%{ for index, hostname in hostnames ~}
${hostname} ansible_host=${kubespray_public_ip["${index}"]} ip=${kubespray_private_ip["${index}"]}
%{ endfor ~}

[kube_control_plane]
%{ for index, hostname in hostnames ~}
${hostname}  ansible_host=${kubespray_public_ip["${index}"]} ip=${kubespray_private_ip["${index}"]}
%{ endfor ~}

[etcd]
%{ for index, hostname in hostnames ~}
${hostname}  ansible_host=${kubespray_public_ip["${index}"]} ip=${kubespray_private_ip["${index}"]}
%{ endfor ~}

[kube_node]
%{ for index, hostname in hostnames ~}
${hostname}  ansible_host=${kubespray_public_ip["${index}"]} ip=${kubespray_private_ip["${index}"]}
%{ endfor ~}

[calico_rr]

[k8s_cluster:children]
kube_control_plane
kube_node
calico_rr

# Connection settings
[all:vars]
ansible_user=${ssh_user}
ansible_ssh_private_key_file=~/.ssh/id_rsa
